.container {
    background-color: aqua;
    margin: 0 auto;
    width: 700px;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    padding: 5px;

}
img {
    border-radius: 20px;
    width: 100px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px tomato;
}
table{
    border: 1;
    width: 700px;
    text-align: justify;
    border-collapse: collapse;
}
.paragraf {
    text-align: justify;
    
}